*{
margin: 0;
padding: 0;
}
.first_line{
    display: flex;
    text-align: center;
    font-weight: bold;
    margin-top: -1rem;
    margin-left: 25rem;
    font-size: 13px;
}

.sec_line{
    display: flex;
    letter-spacing: 1px;;
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin-left: 33rem;
    font-size: 13px;
}
.third_line{
    display: flex;
    letter-spacing: 1px;;
    text-align: center;
    font-weight: bold;
    margin-left: 35rem;
    font-size: 13px;
}
.form1{
    margin-left: 30rem;
    font-size: 20;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.img{
    height: 20rem;
    width: 20rem;
    border: 2px solid black;
    margin-right: 2rem;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    width: 10rem;
}
input{
    background-color: lightgray;
    border: 1px solid grey;
}
.image_file{
    width: auto;
    border: 1px solid;
}
#img_logo{
    height: 5rem;
    margin-top: 2rem;
    margin-left: 3rem;

}
